html {
  height: 100%;
  }

body {
  height: 100%;
  min-height: 35rem;
  position: inherit;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather';
  font-weight: 700;
  
}
.container{
	width: 100%;
	height: 100%;
}
.topMenu{
	width: 100%;
	height:60px;
	background:#002d3d;
	position: fixed-top;


}
 .topMenu h3{
 	float: left;
 	margin-left: 8px;
 	color:#f9b757;
 }
 .topMenu .topNav{
 	float:right;
 }
.topNav>nav ul{
 list-style-type: none;
  overflow: hidden;
   font-family: 'Montserrat', sans-serif;
  
	
}
.topNav>nav ul li{
	
	display: inline-block;
	float: left;
	
}
.topNav>nav ul li a{
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topNav>nav ul li a:hover{
	
	border-bottom: 3px solid #ffffff; 
	color: #f9b757; 
	padding-bottom: .45em;

}


.banner{
	width: 100%;
	height:400px;
	background:url("img/nai.jpg") no-repeat;
	background-size: cover;
	margin-top: 20px;
}
h1{
	color: #000000;
	font-size: 40px;
	margin: 0;
}
.recent{
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: start;
	justify-content: space-around;
}

.housebox{

	width: 318px;
	height: 200px;
	border:none;
	margin-top: 14px;
	
}

.housebox #house1 img{
	width:318px;
	height:160px;
}
.housebox>span{
        line-height: 2rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: #f9b757;
    }
.housebox>span:hover{
	background-color: lightgrey;
	
}

.housebox>span:nth-of-type(odd){
    	background-color: black;
    	color:#ffffff;
}

    .desBtn{
    	background-color: black;
    }


.bannerTitle{
	width: 250px;
	height: 150px;
	padding: 80px 0 0 600px

}

 .cyan{
	background-color: #2b1616;
	border:none;
	width: 200px;
	height: 50px;
	opacity: 0.7;
	color:#FFFFFF;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 0.2em;
	font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
}
.modalContainer{
	position: fixed;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale3d(1:1);
	transition: visibility 0s linear 0.25s 0s, transform 0.25s;
}

#modalContent{

            position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
}

.close{
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }

    .close:hover {
        background-color: darkgray;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }
    }

    .send{
	width: 100%;
	
	background:#4c52b7;
	margin-top: 20px;
	border-radius: 10px;
	border:none;

}
.contholder{
	width: 100%;
	height: 100%;

}

.contholder>input{
	width: 100%;
	height: 40px;
	border-radius: 8px;
	border:1px solid cyan;
	margin-top: 20px;
	text-align: center;
}
.contholder #message{
	width: 100%;
	height: 200px;
	margin-top: 20px;

}

.modTitle h1{
	font-family: serif;
	color: Red;
}
.contholder #message{

}

.midMenu{
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;    
    }
.midMenu h3{
    	float: left;

}

#mMenu >span{
	background-color: #002d3d;
	color: #f9b757;
}
#mMenu{
	padding-top: 20px;
}

.footer{

	width: 100%;
	height: 250px;
	background: #002d3d;
	margin-top: 500px;
}

.footer .boxesContainer {

	box-sizing: border-box;
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-top: 30px;

}

.Box{

	width:400px;
	height: 200px;
	border:1px solid #00FFFF;
	color: #FFFFFF;
}

.Box #footerTitle{
	margin-left: 60px;
}

.Box #footerTitle>h1{
	color:#f9b757;
}

.Box #footerContent{
	font-size: .875rem;
    font-family: Roboto,sans-serif,sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: none;
    color: #fff;
    position: relative;
    text-decoration: none;
    margin-top: 30px;

}

.Box .social i{
	font-size: 3em;
}
.Box .social {
	display: flex;
	flex-direction:row;
	flex-wrap: row; 
	flex-flow: nowrap;
	justify-content: space-around;
} 

